* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drawer {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 228, 196, 0.719);
  transform: translateY(-110%);
  transition: all 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li {
  margin-top: 10px;
}
.drawer.active {
  transform: translateY(0);
}
body {
  background-color: rgba(157, 195, 228, 0.712);
}
.main {
  margin-top: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.colors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 10px;
}
.card {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

.card:active {
  transform: scale(95%);
}

.hexa-code {
  background-color: #fcf7f7;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

li {
  list-style-type: none;
}
.color-box {
  height: 185px;
  width: 188px;
}

.refresh-btn {
  margin-top: 30px;
  text-align: center;
  outline: none;
  background-color: black;
  color: #fcf7f7;
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
  left: 45%;
}
